In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Decision tree model

In dit gedeelte wordt een decision tree model gemaakt. Allereerst moeten we weten wat een decision tree model is, en hoe het werkt. Een decision tree model is een vorm van supervised machine learning. In dit geval wordt een decision tree classifier gebruikt omdat dit een classificatie probleem is. Het werkt door de dataset recursief te verdelen in "vertakkingen" op basis van de waarden van de invoerfuncties. Deze splitsingen creÃ«ren een structuur die op een boom lijkt, waarbij elke vertakking een beslissing of een test op een kenmerk vertegenwoordigt. En op die gesplitste data wordt weer een beslissing genomen, en zo vertakt het model tot we bij de "bladeren" komen. En net zoals bij een boom, noemen we de eerste splitsing de "wortel", en eindigen we bij het blad. Na het blad stopt het model met splitsen.

In [4]:
data_test = pd.read_csv('test_c.csv', sep = ',')
data_train = pd.read_csv('train_c.csv', sep = ',')

In [5]:
# Weghalen rijen met nulwaarden
df_train = data_train.copy()
df_train.drop(df_train[df_train['BMI'] == 0].index, inplace=True)
df_train.drop(df_train[df_train['Glucose'] == 0].index, inplace=True)
df_train.drop(df_train[df_train['BloodPressure'] == 0].index, inplace=True)

# Weghalen van kolommen wegens te hoog aantal nulwaarden
df_train.drop('Insulin', axis=1, inplace=True)
df_train.drop('SkinThickness', axis=1, inplace=True)
df_train.describe()

,p_id,Pregnancies,Glucose,BloodPressure,BMI,DiabetesPedigreeFunction,Age,Outcome
count,575.000000,575.00000,575.000000,575.000000,575.000000,575.000000,575.00000,575.000000
mean,387.502609,3.81913,121.582609,72.556522,32.551826,0.470833,33.38087,0.339130
std,222.159044,3.36284,30.743114,12.322885,6.934810,0.329679,11.82889,0.473826
min,0.000000,0.00000,56.000000,24.000000,18.200000,0.078000,21.00000,0.000000
25%,196.500000,1.00000,100.000000,64.000000,27.600000,0.239000,24.00000,0.000000
50%,383.000000,3.00000,116.000000,72.000000,32.400000,0.371000,29.00000,0.000000
75%,584.500000,6.00000,142.000000,80.000000,36.600000,0.635500,41.00000,1.000000
max,767.000000,15.00000,197.000000,114.000000,67.100000,2.420000,70.00000,1.000000

In [10]:
# Voordat het model getest wordt, is het noodzakelijk de test data op te schonen
# Weghalen rijen met nulwaarden
df_test = data_test.copy()

# Weghalen van kolommen wegens te hoog aantal nulwaarden
df_test.drop('Insulin', axis=1, inplace=True)
df_test.drop('SkinThickness', axis=1, inplace=True)

df_test.drop('p_id', axis = 1, inplace=True)

df_test.describe()

,Pregnancies,Glucose,BloodPressure,BMI,DiabetesPedigreeFunction,Age
count,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000
mean,3.987013,122.603896,69.909091,32.243506,0.486948,33.142857
std,3.352859,32.071493,16.892727,6.802277,0.340347,11.426622
min,0.000000,0.000000,0.000000,18.200000,0.121000,21.000000
25%,1.000000,99.250000,64.000000,26.950000,0.258500,24.000000
50%,3.000000,121.500000,71.000000,31.800000,0.394500,29.000000
75%,6.000000,140.500000,80.000000,37.275000,0.619250,40.000000
max,17.000000,199.000000,122.000000,49.700000,2.288000,81.000000

In [11]:
# Hier importeren we de benodigde modules.
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# En hier wordt de voorspelde kolom uit de trainingsdata gehaald
X_train = df_train.drop('Outcome', axis=1)
y_train = df_train['Outcome']

# Het maken van het decision tree model
classifier = DecisionTreeClassifier(random_state=42)

# Het model wordt gefit op de trainingsdata
classifier.fit(X_train, y_train)

#X_test = df_test.drop('Outcome', axis=1)
#y_test = df_test['Outcome']

#y_pred = classifier.predict(X_test)

# Het model evalueren
#accuracy = accuracy_score(y_test, y_pred)
#print(f'Accuracy: {accuracy}')

DecisionTreeClassifier(random_state=42)